@import "./welcome.scss";

@mixin button-main {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color: #ededed;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: $alt-font;
  font-size: 15px;
  font-weight: normal;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;

  &:hover {
    background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    background-color: #dfdfdf;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.interactive-container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/grid-background.jpg");
  background-repeat: no-repeat;
  box-shadow: -1px 0px 11px 3px rgba(0, 0, 0, 0.58);

  button {
    @include button-main;
    // button:hover {
    //   background: linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
    //   background-color: #dfdfdf;
    // }
  }

  .grid-left-container {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .buttons-logic {
      width: 60%;
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
    }
    .grid {
      display: grid;
      border: 3px solid rgb(134, 128, 128);
      box-shadow: -1px 0px 11px 3px rgba(0, 0, 0, 0.58);
      //   grid-template-columns: repeat({numCols}, 30px);
      .grid-squares {
        width: 20px;
        height: 20px;
        border: 1px solid black;
      }
    }
  }

  .grid-right-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .stats {
      font-size: 1.2rem;
      font-family: $alt-font;
      h2 {
        margin: 20px auto;
      }
    }

    .buttons-patterns {
      display: flex;
      flex-direction: column;
      h2 {
        margin: 20px auto;
        font-size: 1.2rem;
        font-family: $alt-font;
      }
      .button-block {
        background-image: url("../img/patterns/Game_of_life_block_with_border.svg");
        background-repeat: no-repeat;
        height: 67px;
        width: 67px;
      }
      .button-blinker {
        background-image: url("../img/patterns/Game_of_life_blinker.gif");
        height: 82px;
        width: 82px;
      }
      .button-oscillator {
        background-image: url("../img/patterns/I-Column.gif");
        background-repeat: no-repeat;
        height: 145px;
        width: 89px;
      }
      button {
        margin: 20px auto;
      }
    }
  }
}
