@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

@font-face {
  font-family: "bladeRunner";
  src: url("../fonts/BLADRMF_.TTF") format("truetype");
}

$welcome-font: "bladeRunner", sans-serif;
$alt-font: "Krona One", sans-serif;

.welcome-container {
  height: 90%;
  // border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: -1px 0px 11px 3px rgba(0, 0, 0, 0.58);
  background-image: url("../img/welcome-background.jpg");
  background-repeat: repeat-Y;
  // padding-bottom: 40px;
}
.welcome-text-container {
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  text-align: center;

  padding-top: 60px;
  background-color: rgba(255, 255, 255, 0.26);
  .game-of-life {
    text-decoration: underline;
  }
  h1 {
    font-size: 8rem;
    // border: 1px solid red;
    font-family: $welcome-font;
  }
  h2 {
    font-size: 3rem;
    margin-top: 40px;
    font-family: $alt-font;
  }
  li {
    font-size: 1.3rem;
    margin-top: 40px;
    font-family: $alt-font;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    line-height: 2rem;
  }
}
